

@-webkit-keyframes Animation {
    0%{background-position:30% 0%}
    50%{background-position:70% 100%}
    100%{background-position:30% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:30% 0%}
    50%{background-position:70% 100%}
    100%{background-position:30% 0%}
}
@keyframes Animation { 
    0%{background-position:30% 0%}
    50%{background-position:70% 100%}
    100%{background-position:30% 0%}
}


.fade-in-section {
    opacity: 0;
    /* transform: translateY(20vh);
    visibility: hidden; */
    transition: all 0.3s ease-in;
    /* transform: translateY(7%); */
  }
  .fade-in-section.is-visible {
    opacity: 1;
    /* transform: translateY(0); */
    /* transform: none;
    visibility: visible; */
  }


  body {
    margin: 0;
  }

.wrapper {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth !important;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0px 8rem 0px;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-8px) scale(2.3);
    margin-bottom: 0;
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: -50%;
}

.title {
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;     
}

section {
    font-size: 2rem;
    padding: 2rem;
    background-color: #333;
    color: white;
}