/*  Links  */

a    {
    text-decoration: underline;
    color: inherit;
}

/* Buttons */

button{
    background-color: var(--Primary);
    color: var(--Page-Bg);
    font-family: var(--Body-Family);
    font-weight: 350;
    text-transform: uppercase;
    letter-spacing: .05rem;
    padding: .6rem 1.2rem;
    border-radius: 100px;
    border:none;
    margin-right: 20px;
    font-size: 1rem;
    transition: all .2s ease;
    margin-bottom: 2rem;
}
button:hover{
    filter: brightness(1.2);
    /* box-shadow:
        0 3px 8px var(--Shadow); */
    cursor: pointer;
}

.hover-arrow svg{
    visibility: hidden;
    position: absolute;
    transition: all 300ms;
    top: 29%;
    opacity: 0;
    padding-left: 8px;
}
.hover-arrow:hover svg{
    visibility:visible;
    transition: all 300ms;
    opacity: 1;
}
.hover-arrow {
    position: relative;
    transition: 300ms;
  }
.hover-arrow:hover {
    padding-right: calc(1.2rem + 30px);
    transition: 300ms;
}


/* Learn More Button */

.Banner .learnMore:before{
    stroke: 2px var(--Header-Footer-Foreground);
    outline: 2px solid var(--Header-Footer-Foreground);
}

.Banner .learnMore svg{
    stroke: var(--Header-Footer-Foreground);
    fill: var(--Header-Footer-Foreground);
}

.learnMore{
    position: relative;
    padding: 18px 35px;
    padding-right:26px;
    margin-top:10px;
    transition: all .2s ease;
    white-space: nowrap;
    font-family: var(--Body-Family);
}

.learnMore:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 10px;
    stroke: 2px var(--Primary);
    outline: 2px solid var(--Primary);
    width: 60px;
    height: 60px;
    transition: all .3s ease;
}

.circle:before {
border-radius: 31px;
}
.square:before {
border-radius: 10px;
}

.learnMore span {
    position: relative;
    font-size: 1rem;
    top: -8px;
    letter-spacing: 0;
    vertical-align: middle;
}

.learnMore svg {
    position: relative;
    top: 0px;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--Primary);
    stroke-width: 2;
    fill: var(--Primary);
    transform: translateX(-5px);
    transition: all .3s ease;
    margin-right:10px;
    height: 24px;
}

.left svg{
    top: -1px;
    left: -10px;
    margin-left: 0px;
}

.learnMore:hover:before{
    width: 100%;
}

.learnMore:hover svg{
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.learnMore:hover{
text-decoration: none;
}

@media  (min-width: 0px) and (max-width: 600px){
    .learnMore{
        font-size: 1rem;
        position: relative;
        padding: 12px 35px;
        padding-right:26px;
        margin-top:10px;
        transition: all .2s ease;
        white-space: nowrap;
        text-decoration: none;
    }
    
    .learnMore:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 10px;
        stroke: 2px var(--Primary);
        outline: 2px solid var(--Primary);
        width: 100%;
        height: 52px;
        transition: all .3s ease;
    }
    
    .circle:before {
        border-radius: 31px;
    }

    .square:before {
        border-radius: 10px;
    }
    
    .learnMore span {
        position: relative;
        font-size: 1rem;
        top: -2px;
        vertical-align: middle;
    }
    
    .learnMore svg {
        position: relative;
        top: 0px;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--Primary);
        stroke-width: 2;
        fill: var(--Primary);
        transform: translateX(-5px);
        transition: all .3s ease;
        margin-right:4px;
        height: 1rem;
    }
    
    .left svg{
        top: 4px;
        left: -8px;
        margin-left: 0px;
    }
    
}
@media  (min-width: 601px) and (max-width: 1100px){
    .learnMore{
        font-size: 1rem;
        position: relative;
        padding: 12px 35px;
        padding-right:26px;
        margin-top:10px;
        transition: all .2s ease;
        white-space: nowrap;
        text-decoration: none;
    }
    
    .learnMore:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 10px;
        stroke: 2px var(--Primary);
        outline: 2px solid var(--Primary);
        width: 100%;
        height: 52px;
        transition: all .3s ease;
    }
    
    .circle:before {
        border-radius: 31px;
    }

    .square:before {
        border-radius: 10px;
    }
    
    .learnMore span {
        position: relative;
        font-size: 1rem;
        top: -4px;
        vertical-align: middle;
    }
    
    .learnMore svg {
        position: relative;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--Primary);
        stroke-width: 2;
        fill: var(--Primary);
        transform: translateX(-5px);
        transition: all .3s ease;
        margin-right:4px;
        height: 1rem;
    }
    
    .left svg{
        top: 2px;
        left: -8px;
        margin-left: 0px;
    }
}

