
img  {
    width: 100%;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.long-image {
    width: 60%;
}

.max-500{
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

@media  (min-width: 0px) and (max-width: 1100px){
    .long-image {
        width: 100%;
    }
    figure {
        margin: 2rem 0rem !important;
        width: calc( 100% -  2*var(--Gutter) ) !important;
    }
}


img.profile{
    width: 100%;
    border-radius: 10px;
}

.soft{
    border-radius: 10px;
    border: 1px solid var(--Accent);
}
.outline {
    border: 1px solid var(--Accent);
}

.animated-icon-container{
    width: 60px;
    height: 60px;
    margin: 0px calc(var(--Gutter) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.animated-icon{
    width: 50px;
    cursor: pointer;
    display: flex;
    transition: all .3s ease
}
.secondary-navbar-item:hover .animated-icon{
    width: 60px;
    cursor: pointer;
}
.animated-icon:hover{
    width: 60px;
    cursor: pointer;
}

figure img{
    max-width: 100%;
    margin-bottom: .5rem;
    width:100%;
}

.flex-row .VertDivider img{
    margin: 0px;
}

figure {
    margin: 2rem var(--Gutter);
    display: table;
    width: calc( 100% -  2*var(--Gutter) );
}

.flex-row figure{
    width: 100%;
    margin: 0;
}

figure .flex-row{
    column-gap: var(--Gutter);
}

header path {
    fill: var(--Primary);
}

svg{
    height:1rem;
}

header svg{
    margin-top: 1rem;
}