@media (prefers-color-scheme: dark) {
    html{
        --Primary: #E799B3 !important;
        --Secondary: #191D2F;
    }
}

@media (prefers-color-scheme: light) {
    html{
        --Primary: #C35686 !important;
        --Secondary: #9AC9DF;
    }
}