.tabs{
	display: flex;
}
.tab{
	display: block;
	width: fit-content;
	margin-bottom: 1rem;
}

.tab-toggle{
	position: absolute;
	opacity: 0;
	display: none;
}

.tab > label{
	position: relative;
	display: block;
	padding-bottom: 16px;
	line-height: 150%;
	font-size: 1rem;
	font-weight: 350;
	cursor: pointer;
	padding: .3rem 1rem;
	border-radius: 1rem;
	color: var(--Shadow);
	transition: all .3s ease-in-out;
}
.tab-toggle > section{
	max-height: 0;
	transition: .3s all;
	overflow: hidden;
	
}

.tab > .tab-toggle:checked ~ label {
	color: var(--Body);
	background-color: var(--Accent);
}

.tab > .tab-toggle:hover ~ label {
	color: var(--Body);
	transition: all .3s ease-in-out;
}

@media  (min-width: 0px) and (max-width: 768px){
	.tabs{
		display: block;
	}
	.tab > label{
		margin-bottom:.5rem;
	}
}