/* Headings */

h1  {
    font-size: 3.1rem;
    font-family: var(--Heading-Family);
    font-weight: 600;
    color: var(--Primary);
}

h2   {
    font-family: var(--Heading-Family);
    color: var(--Heading);
    margin-top:0px;
    margin-bottom: 20px;
    font-weight:700;
    font-size: 2.8rem;
    line-height: 100%;
}

.project-title{
    font-size: 1.7rem;
    font-weight:400;
    line-height: 2rem;
    color: var(--Heading);
    font-family: var(--Body-Family);
}


.gradient-title:before{
    content:"";
    background: var(--Secondary);
    display: block;
    height:8px;
    width: 100px;
    position: relative;
    padding-right: 30px;
    z-index: -1;
    top:-10px;
}
.gradient-title{
    font-variant: small-caps;
    font-weight: 600;
    color: var(--Primary);
    width: fit-content;
    background-size: cover;
    opacity: 90%;
    font-family: "Freight-Sans-Pro";
    margin-top: 7rem;
}
.gradient-title:first-child{
    margin-top: 0px;
}

h3   {
    font-family: var(--Heading-Family); 
    font-size:1.8rem;
    margin: 0px;
    margin-top: 2rem;
    color: var(--Heading);
    font-weight:600;
}

h4   {
    font-size:1.3rem;
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: var(--Heading-Family); 
    color: var(--Body);
    font-weight: 600;
}

h5  {
    font-size:1rem;
    margin: 0px;
    margin-top: 1.5rem;
    font-family: var(--Heading-Family); 
    margin-bottom:10px;
    color: var(--Body);
    font-weight: 400;
    text-transform: uppercase;
}
.vertCenter h5{
    margin-top: 0rem;
}
.vertCenter button{
    margin-bottom: 2rem;
}

h6   {
    font-size: 1.2rem; 
    font-family: var(--Body-Family);
    line-height: 130%;
    margin-top: 1.5rem;
    margin-bottom: 0px;
    color: var(--Primary);
    font-weight: 700;
}
.flex-row h6 {
    margin-top: 0rem;
}

figcaption p{
    font-size: .8rem;
    color: var(--Heading);
}

.peripheral{
    font-size: .8rem;
    color: var(--Body);
}

figcaption {
    display: table-caption;
    caption-side: bottom
}
.TextCardTitle h4{
    font-size: 1rem;
    padding-top: 1rem;
}
p    {
    font-size: 1rem; 
    font-family: var(--Body-Family);
    line-height: 1.5rem;
    margin-top: 5px;
    color: var(--Body);
    font-weight: 400;
}

/* Conditional Formatting */

.text-center{
    text-align: center;
}

.Caption{
    text-align: center;
    margin:0px;
}

/* Bullet Lists */
ul{
    margin-top: .5rem;
}

ul li {
    color: var(--Primary);
    line-height: 1.2rem;
    margin-top: .5rem;
}
ul li span{
    color: var(--Body);
    font-weight: normal;
}