@media (prefers-color-scheme: dark) {
    html{
        --Primary: #A5C8E4 !important;
        --Secondary: #075391;
    }
}

@media (prefers-color-scheme: light) {
    html{
        --Primary: #1070C0 !important;
        --Secondary: #F0F5FA;
    }
}