@media (prefers-color-scheme: dark) {
    html{
        --Primary: #60BBD8 !important;
        --Secondary: #072333;
    }
}

@media (prefers-color-scheme: light) {
    html{
        --Primary: #165C7D !important;
        --Secondary: #E3F4FB;
    }
}