/* Define Colors */
html {
    --Navy-color: #253764;
    --Aqua-color: #00A1E7;
    --Ice-color:  #DBEEFF;
    --Base-grey: rgb(60, 60, 60);
    --Heading-Family: "futura-pt", sans-serif;
    --Body-Family: Proxima Nova, Roboto, Arial, sans-serif;
}

/*  Navbar  */
header{
    border-bottom: 1px solid var(--Base-grey);
}

div#navbar{
    background-color: var(--Navy-color);
    height: 60px; 
    padding:10px;
    width:100% - 20px;
    display: flex;
    align-items: center;
}
div#navbar ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}
div#navbar li {
    font-family: var(--Heading-Family);
    font-size: 18px;
    float: left;
}
div#navbar ul li a {
    display:block;
    color: var(--Ice-color);
    padding: 16px 16px;
    text-decoration: none;
}
div#navbar ul li a:hover {
    color: white
}
div#navbar ul li img {
    width: 30px;
    display:inline-block;
    justify-content: center;
    border-radius: 0;
}

.hamburgerMenu {
    display: none;
    margin: 16px;
}:hover .bar{
    background-color: white;
}:not(:hover) .bar{
    background-color: var(--Ice-color);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    background-color: var(--Ice-color);
}

.navList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--Navy-color);
    border-radius: 0px;
}

@media (max-width: 599px) {
    .navList {
        position: fixed;
        left: -100%;
        top: 3rem;
        flex-direction: column;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        padding-bottom: 200px;
    }

    .navList.active {
        left: 0;
    }

    .hamburgerMenu {
        display: block;
        cursor: pointer;
    }

    .hamburgerMenu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgerMenu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburgerMenu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/*  Body  */
body {
    margin:0px; 
    padding:0px;
    align-items: center;
}
#content{
    margin:auto;
    padding:40px;
    max-width: 1080px;
    font-family: var(--Body-Family); 
    color: var(--Base-grey); 
}

/*  Grid  */
@media  (min-width: 0px) and (max-width: 819px){
    .grid{
        display: block;
    }
    .gridRight{
        grid-column-start: 1;
        grid-column-end: 1;
    }
}

@media  (min-width: 820px){
    .grid{
        display: inline-grid;
    }
    .gridRight {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}
.grid {
    display: inline-grid;
    column-gap: 50px;
}  
.gridLeft {
    grid-column-start: 1;
    grid-column-end: 1;
}
div.card {
    margin-top: 20px;
    margin-bottom: 80px;
    padding:20px;
    background-color: var(--Ice-color);
    border-radius: 15px;
}
div.card img{
    border-radius: 15px;
}
div.card h2{
    margin-top:0px;
}

/*  Images  */
img  {
    text-align: center; 
    width: 100%;
    display:block;
}
img.profile{
    border-radius: 50%;
    width: 200px;
}

/*  Headings & Text  */
h1   {
    font-family: var(--Heading-Family);
    color: var(--Navy-color);
    margin-top:0px;
    font-weight:700;
}
h2   {
    font-family: var(--Heading-Family); 
    color: var(--Aqua-color);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom:0px;
    font-weight:700;
}
h2 span.subTitle{
    font-weight:500;
    color: var(--Navy-color)
}
h3   {
    font-size:20px;
    font-family: var(--Heading-Family); 
    color: var(--Aqua-color);
    font-weight: 700;
}
h3 span.subTitle{
    font-weight:500;
    color: var(--Navy-color)
}
h4   {
    font-size:18px;
    font-family: var(--Heading-Family); 
    color: var(--Navy-color);
    margin-bottom:10px;
}
p    {
    font-size: 16px; 
    line-height:22px;
}
/*  Links  */
a    {
    color: var(--Aqua-color);
}

a div {
    background-color: var(--Aqua-color); 
    margin-top: 2px;
    height: 3px
}

/* Buttons */
button{
    background-color: var(--Aqua-color);
    color: white;
    font-family: var(--Heading-Family);
    padding: 10px;
    border-radius: 5px;
    border:none;
    margin-top: 10px;
}
button:hover{
    background-color: var(--Navy-color);
    color: white;
    font-family: var(--Heading-Family);
    padding: 10px;
    border-radius: 5px;
    border:none;
}

/* Bullet Lists */
ul li {
    color: var(--Aqua-color)
}
ul li span{
    color: var(--Base-grey);
    font-weight: normal
}