/* Define Colors */
html {
    --Navy-color: #253764;
    --Aqua-color: #00A1E7;
    --Ice-color:  #DBEEFF;
    --Base-grey: rgb(60, 60, 60);
    --Heading-Family: Futura PT, sans-serif;
    --Body-Family: Proxima Nova, Roboto, Arial, sans-serif;
}

/*  Navbar  */
div.navbar{
    background-color: var(--Navy-color);
    height: 60px; 
    width:100%; 
    padding: 10px;
}
div.navbar ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}
div.navbar li {
    font-family: var(--Heading-Family);
    font-size: 18px;
    float: left;
}
div.navbar ul li a {
    display:block;
    color: var(--Ice-color);
    padding: 16px 16px;
    text-decoration: none;
}
div.navbar ul li a:hover {
    color: white
}
div.navbar ul li img {
    width: 30px;
    display:inline-block;
    justify-content: center;
    border-radius: 0;
}

/*  Body  */
body {
    margin:0px; 
    padding:0px;
    align-items: center;
}
#content{
    margin:auto;
    padding:40px;
    max-width: 1080px;
    font-family: var(--Body-Family); 
    color: var(--Base-grey); 
}
.grid {
    display: inline-grid;
    column-gap: 50px;
}  
.gridLeft {
    grid-column-start: 1;
    grid-column-end: 1;
}
.gridRight {
    grid-column-start: 2;
    grid-column-end: 3;
}
div.card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
    background-color: var(--Ice-color);
    border-radius: 15px;
}
div.card img{
    border-radius: 15px;
}
div.card h2{
    margin-top:0px;
}

/*  Images  */
img  {
    text-align: center; 
    width: 100%;
    display:block;
}
img.profile{
    border-radius: 50%;
    width: 200px;
}

/*  Headings & Text  */
h1   {
    font-family: var(--Heading-Family);
    color: var(--Navy-color);
    margin-top:0px;
}
h2   {
    font-family: var(--Heading-Family); 
    color: var(--Aqua-color);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom:0px;
}
h2 span.subTitle{
    font-weight:400;
    color: var(--Navy-color)
}
h3   {
    font-size:20px;
    font-family: var(--Heading-Family); 
    color: var(--Aqua-color)
}
h3 span.subTitle{
    font-weight:400;
    color: var(--Navy-color)
}
p    {
    font-size: 16px; 
    line-height:22px;
}

/*  Links  */
a    {
    color: var(--Aqua-color);
}
a div {
    background-color: var(--Aqua-color); 
    margin-top: 2px;
    height: 3px
}

/* Buttons */
button{
    background-color: var(--Aqua-color);
    color: white;
    font-family: var(--Heading-Family);
    padding: 10px;
    border-radius: 5px;
    border:none;
    margin-top: 10px;
}
button:hover{
    background-color: var(--Navy-color);
    color: white;
    font-family: var(--Heading-Family);
    padding: 10px;
    border-radius: 5px;
    border:none;
}

/* Bullet Lists */
ul li {
    color: var(--Aqua-color)
}
ul li span{
    color: var(--Base-grey);
    font-weight: normal
}